.projectOther {
    .swiper-slide-prev {
        opacity: 0!important;
    }
    
    .swiper-button-next, .swiper-button-prev {
        top: 21.5vw!important;
        color: #FFFFFF!important;
    }
    
    .swiper-button-next {
        left: 38.5vw!important;
    }
    
    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: 41.718vw!important;
        top: 38vw;
    }
    
    .swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
        content: ' '!important;
        width: 2.26rem!important;
        height: 4.4rem!important;
        background-image: url('./../../images/right-arrow.png');
    }

    .swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
        content: ' '!important;
        width: 2.26rem!important;
        height: 4.4rem!important;
        background-image: url('./../../images/left-arrow.png');
    }
    
    
    .swiper-pagination-bullet {
        background: #000000!important;
        height: 1.5rem;
        width: 1.5rem;
    }
    
    .swiper-pagination-bullet-active {
        background: #FFFFFF!important;
        height: 1.5rem;
        width: 1.5rem;
        margin: 0 1.5rem!important;
    }
    
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
        display: none!important;
    }
}

@media screen and ( max-width: 1000px ) {
    .projectOther {
        .swiper-button-next, .swiper-button-prev {
            top: 53%!important;
        }

        .swiper-button-next {
            left: 37.5vw!important;
        }

    }
}

@media screen and ( max-width: 950px ) {
    .projectOther {
        .swiper-button-next, .swiper-button-prev {
            top: 43%!important;
        }

        .swiper-button-next {
            left: unset!important;
            right: 2rem!important;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            width: 100%!important;
            top: 95vw;
        }

    }
}

@media screen and ( max-width: 800px ) {
    .projectOther {
        .swiper-button-next, .swiper-button-prev {
            top: 45%!important;
        }




    }
}

@media screen and ( max-width: 700px ) {
    .projectOther {
        .swiper-button-next, .swiper-button-prev {
            top: 40%!important;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            width: 100%!important;
            top: 102vw;
        }
    }
}

@media screen and ( max-width: 600px ) {
    .projectOther {
        .swiper-button-next, .swiper-button-prev {
            top: 38%!important;
        }
    }
}

@media screen and ( max-width: 450px ) {
    .projectOther {
        .swiper-button-next, .swiper-button-prev {
            top: 35%!important;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            width: 100%!important;
            top: 110vw;
        }
    }
}

@media screen and ( max-width: 400px ) {
    .projectOther {
        .swiper-button-next, .swiper-button-prev {
            top: 33%!important;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            width: 100%!important;
            top: 110vw;
        }
    }
}

@media screen and ( max-width: 300px ) {
    .projectOther {
        .swiper-button-next, .swiper-button-prev {
            top: 28%!important;
        }

        .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
            width: 100%!important;
            top: 120vw;
        }
    }
}
