.homeSlider {
    padding-top: 0;
    overflow: hidden;

    .slider {
        position: relative;
        width: 100vw;
        height: 100vh;        
    
        figure,
        .slider__video {
            height: 100vh;
            width: 100vw;
            position: relative;
    
            img,
            video {
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;

            }
        }

        .gatsby-image-wrapper {
            height: 100%;
            width: 100%;
        }
    
        &__text-container {
            opacity:0;
            transform: translateY(15px);
            transition:all 1s ease-in;
            position: absolute;
            bottom: 20rem;
            left: 7.864vw;   
            z-index: 100;
            max-width: 80%;

          
       
            &:hover {
                .slider__line {
                    width: 100%;
                    transition: width 1s;
                }
    
                .slider__more {
                    opacity: 1;
                    transition: opacity 1s;
                }
            }
        }
    
        &__textBox {
            margin-right: 4.270vw;
           
        }
    
        &-link {
            display: flex;
    
            p {
                color: #ffffff;
            }
        }


    
        &__line {
            height: 1px;
            width: 0;
            transition: width 0.4s;
            background: #FFFFFF;
           
        }
    
        &__more {
            display: flex;
            margin-top: 2.6rem;
            opacity: 0;
            transition: opacity 0.6s;
    
            img {
                height: 1.9rem;
                margin-top: 0.4rem;
                margin-left: 1rem;
            }
        }

        &__nextBtn {
            position: absolute;
            left: 0;
            top: 0;
            height: 100vh;
            width: 100vw;
        }
    }

    .slick-dots {
        position: absolute;
        background-color: none;
        bottom: 5.208vw;
        padding-bottom: none;

        li {
            margin: 0 1.5rem;


        }

        .slick-active {
            button::before {
                color: white;
            }
        }


        button::before {
            color: white;
            font-size: 2.2rem;
        }
    }

    .slick-next {
        display: none;
    }



}

.slick-slide {
    max-height: 100vh;
}



.slick-active .slider__text-container {
    opacity: 1;
    transition:opacity 1.2s ease-in;
    transform: translateY(0);
}

.slider__mobileImg {
    display: none;
}

@media screen and ( max-width: 700px ) {
    .homeSlider{
        .slider {
            &-link {
                display: flex;
                flex-direction: column;
            }

            &__line {
                opacity: 1;
                width: 100%;
            }

            &__more {
                opacity: 1;
            }

            &__text-container {
                bottom: 15rem;


            }

            &__text-container {
                width: 80%;
            }

        }


    }

    .slick-dots {

        li {
            margin: 0 1rem!important;


        }


        button::before {
            color: white;
            font-size: 1.7rem!important;
        }
    }
}

@media screen and ( max-width: 500px ) {
    .homeSlider{
        .slider {
            &__text-container {
                bottom: 9rem;
            }
        }

        .slick-next {
            display: none!important;
        }
    }
}

@media (orientation: portrait) {
    .slider {
        &__imgDesktopActive,
        &__videoDesktopActive {
            display: none;
        }

        &__mobileImg {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
  }


