#projectOpen {

    .projectBox {
        display: flex;
        -webkit-tap-highlight-color: transparent;
    }
   
    .projectBox__image {
        display: flex;
        animation: visible 2s forwards;  
    }

    .projectLine {
        width: 100%;
        transition: width 1s;
    }

    .projectBox__close {
        height: 40px;
        width: 40px;
        background-color: none;
        position: absolute;
        z-index: 1;
        right: 7.864vw;
        cursor: pointer;
    }

    .projectBox__close:before, .projectBox__close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 40px;
        width: 2px;
        background-color: #333;
      }
      .projectBox__close:before {
        transform: rotate(45deg);
      }
      .projectBox__close:after {
        transform: rotate(-45deg);
      }

    .projectBox__title {
        display: flex;
        cursor: default;
    }

}
@media screen and ( min-width: 850px ) {
    #projectOpen{
        .projectBox__image {
            display: none;
        }

        .projectLine {
            width: 0;
        }

        .projectBox__close {
            display: none;
        }
    }
}


