.projectBox {
    display: flex;

    &__image {
        display: none;
        position: relative;
        opacity: 0;
        width: 42.5vw;
        margin-top: 1rem;

        figure {

            width: 27.552vw;
            max-width: 529.549px;

            img,
            .gatsby-image-wrapper {
                position: absolute;
                right: 0;
                width: 27.552vw;
                max-width: 529.549px;
            }
        }
    }

    &__more {
        display: flex;
        width: 15.948vw;
        align-items: top;
        position: absolute;
        padding-bottom: 30rem;
        align-items: center;
        justify-content: center;

        p {
            line-height: 1;
        }



        img {
            height: 2rem;
           
            padding-left: 1rem;
        }
    }


    &__text {
        width: 27.552vw;

        h2 {
            line-height: 1;
            padding-bottom: 10px;
        }
    }
}

.projects__outerContainer {
    margin-bottom: 50rem;
}

.projects__link {
    margin-bottom: 3.125vw;
    width: 70.052vw;

    &:last-child {
        height: 10rem;
        transition: height 0.4s;
    }
}

.projects__link:hover {


    &:last-child {

        height: 40rem;
        transition: height 1s;
        
    }

    .projectBox__image {
        display: flex;
        animation: visible 2s forwards;  
        
    }

    .projectLine {
        width: 100%;
        transition: width 1s;
    }
}

.projectLine {
    height: 1px;
    width: 0;
    transition: width 0.4s;
    background: black;
    margin-bottom: 1.7rem;
}

.projects__special {
    width: 100%;

    margin-top: 5rem;
    margin-bottom: 5rem;
}

.projects__specialLine {
    width: 2rem;
    border-top: 1px solid black;
}



@keyframes visible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}


@media screen and ( max-width: 1240px ) {

    .projectBox {
        &__image {
            p {
                font-size: 1.8rem;
                text-align: center;
            }
        }
    }
    
}

@media screen and ( max-width: 1100px ) {

    .projects__link {
        width: 100%;
    } 

    .projectBox {
       &__text {
        width: 37.552vw;
       } 

       &__image {
        width: 47.5vw;
       }
    }

}

@media screen and ( max-width: 850px ) {


    .projects__link:last-child {

        height: unset;

        &:hover {
            height: unset;
            transition: unset;
        }

    }
    .projects__link:hover {

        .projectBox__image {
            display: none;
            animation: unset;  
        }
    
        .projectLine {
            width: 0;
            transition: none;
        }

    }

    .projectBox {
        flex-direction: column;

        &__text {
            width: 100%;
            margin-right: 40px;

            h2 {
                line-height: 1;
            }
        }

        &__more {
            display: flex;
            width: 100%;
            align-items: top;
            position: unset;
            padding-bottom: 2rem;
            justify-content: start;
           
    
            img {
                padding-left: 1rem;
                height: 1.6rem;
            }
        }

        &__image {
            flex-direction: column;
            width: 100%;
            margin-top: 2rem;

            p {
                font-size: 1.6rem;
            }

            figure {

                width: 100%;
    

                img,
                .gatsby-image-wrapper {
                    position: unset;
                    // right: 0;
                    width: 100%;
                }

                .gatsby-image-wrapper {
                    display: flex;
                }
            }
        }
    }
}

@media screen and ( max-width: 490px ) {
    .projects__link {
        margin-bottom: 5rem;
    }
}