* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: freight-display-pro, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 62.5%; 
    text-decoration: none;
    font-display: swap;
}

body {
    background-color: #FDF7F6;
    // padding-top: 8.2rem;
}

main {
    padding-top: 17.9rem;
}

.site-wrap {
    width: 84.272vw;
    margin: 0 auto;
}

.backHome {
    text-decoration: underline;
}

.redirect-container {
    margin-top: 10rem;
    width: 60%;
}

@media screen and ( max-width: 500px ) {
    .redirect-container {
        margin-top: 10rem;
        width: 90%;
    }
}