footer {
    background-color: black;
    color: #ffffff;
}

.footer {
    &-item {

        margin-right: 5.208vw;
        h2, p {
        color: #ffffff;
        
        }

        h2 {
            padding-bottom: 0.7rem;
        }

        &:hover {
            .footer-break {
                width: 100%;
                transition: width 1s;
            }
        }
    }

    &-content {
        padding-top: 3.6rem;
        padding-bottom: 9.1rem;
        display: flex;
    }

    &-break {
        width: 1.5rem;
        transition: width 0.4s;
        border-top: 1px solid #ffffff;
        padding: 0.5rem 0;
    }
}

@media screen and ( max-width: 701px) {
    .footer-content {
        display: flex;
        flex-direction: column;

        .footer-item {
            margin-bottom: 4rem;
            -webkit-tap-highlight-color: transparent;

            &:hover {
                .footer-break {
                    width: 1.5rem;
                    transition: unset;
                }
            }
        }
    }
}