header {

    
    .site-wrap {
        display: flex;
        justify-content: space-between;
    }

    .main-logo {
        width: 19.8rem;
    }

    .main-logo__container {
        -webkit-tap-highlight-color: transparent;
        width: 19.8rem;

        a {
            -webkit-tap-highlight-color: transparent;
        }
    }
    
}

.black-header {
    padding-top: 2.7rem;
    padding-bottom: 3.7rem;
    background-color: rgba(253, 247, 246, 0.9);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
}

.white-header {
    padding-top: 2.7rem;
    padding-bottom: 3.7rem;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;

    .links{
        -webkit-tap-highlight-color: transparent;
        a {
            p {
                color: white;
            }
        }
    }
}