.menuButton {
    z-index: 100000;
    display: none;
    cursor: pointer;
    height: 4.1rem;
    width: 4.1rem;
    position: relative;
    -webkit-tap-highlight-color: transparent;

    span {
        display: block;
        width: 4.1rem;
        height: 0.2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: black;
        transition: .5s;
    }

    &:focus {
        outline: 0 !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }



    span:nth-child(1) {
        transform: translate(-50%, -50%) translateY(-12px);
        transition: .3s;
    }

    span:nth-child(4) {
        transform: translate(-50%, -50%) translateY(12px);
        transition: .3s;
    }

}

.open{
    span:nth-child(1) {
        transform: translate(-50%, -50%) translateY(0px);
        opacity: 0;
    }

    span:nth-child(4) {
        transform: translate(-50%, -50%) translateY(0px);
        opacity: 0;
    }

    span:nth-child(2) {
        transform: translate(-50%, -50%) rotate(45deg);
        transition-delay: .2s;
    }

    span:nth-child(3) {
        transform: translate(-50%, -50%) rotate(-45deg);
        transition-delay: .2s;
    }
}

.white-header {
    .menuButton {
        -webkit-tap-highlight-color: transparent;
        span {
            background: white;
        }
    }

    .open {
        span {
            background: black;
        }
    }
}

@media screen and ( max-width: 600px ) {
    .menuButton {
        display: block;
    }
}