.mobileNav {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #ffefe9;
    overflow: scroll;

    &__logo {
        width: 19.8rem;
        padding-top: 2.7rem;
        padding-bottom: 3.7rem;
        margin-left: 7.864vw;
        -webkit-tap-highlight-color: transparent;
    }

    nav {
        justify-content: unset;
        margin: 14.009vw 0;

        .links {
            display: flex;
            flex-direction: column;

            a > p {
                margin-left: 0;
                margin-bottom: 2rem;
                font-size: 6.5rem;
                color: black;
            }
        }
    }

    .footer-content {
        display: flex;
        flex-direction: column;
        margin-left: 7.864vw;
        padding-top: 0;

        .footer-break {
            border-top: 1px solid black;
        }
    }

    .footer-item {
        -webkit-tap-highlight-color: transparent;
        h2, p {
            color: black;
        }

        h2 {
            font-size: 2.4rem;
        }

        margin-bottom: 4.3rem;
    }


}

@media screen and ( max-width: 600px ) {
    .mobileNav {
        display: flex;
    }
}

