header {
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .links {
        display: flex;
        -webkit-tap-highlight-color: transparent;
        a {
            margin-left: 7.864vw;
        }
    }

    .activeLink {
        p {
            text-decoration: underline;
            text-decoration-thickness: 1px;
            text-underline-offset: 5px;
        }
    }
}

@media screen and ( max-width: 600px ) {
    .desktopNav {
        display: none;
    }

    header {
    
        .activeLink {
            p {
                text-decoration: underline;
                text-decoration-thickness: 3px;
                text-underline-offset: 20px;
            }
        }
    }
}