p, h2, a, h1 {
    font-size: 1.6rem;
    color: black;
}

.page-headers {
    font-weight: 400;
    font-style: italic;
    border-top: solid 1px black;
}

.page-intros {
    font-weight: 300;
    font-style: normal;
}

.sub-heading {
    font-style: italic;
}

.about__text-box p,
.contact__left p {
    line-height: 1.2;
}

.font {

    &__italic {
        font-style: italic;
    }
    
    &__homeHeader {
        font-size: 6rem;
    }

    &__large {
        font-size: 5.5rem;
    }

    &__mid {
        font-size: 3.2rem;
    }

    &__small {
        font-size: 2.4rem;

        &--more {
            font-size: 2.4rem;
        }
    }

    &__related {
        font-size: 5rem;
    }

    &__text {
        font-size: 1.8rem;

        p {
            font-size: 1.8rem;
            font-family: 'DM Sans', sans-serif;
        }
    }

    &__sans {
        font-family: 'DM Sans', sans-serif;
    }

    &__slider-sub {
        font-size: 4rem;
        font-style: italic;
    }

    &__x-small {
        font-size: 1.6rem;
    }

}

.weight {
    &__light {
        font-weight: 300;
    }
}

@media screen and ( max-width: 1600px ) {
    .font {
        &__large {
            font-size: 4.5rem;
        }

        &__small--more {
            font-size: 1.8rem;
        }

        &__text {
            font-size: 1.6rem;
    
            p {
                font-size: 1.6rem;
                font-family: 'DM Sans', sans-serif;
            }
        }
    }
}

@media screen and ( max-width: 1350px ) {
    .font {
        &__large {
            font-size: 4rem;
        }
    }
}

@media screen and ( max-width: 1200px ) {
    .font {
        &__mid {
            font-size: 2.5rem;
        }

        &__small--more {
            font-size: 1.6rem;
        }

        // &__text {
        //     font-size: 1.8rem;
    
        //     p {
        //         font-size: 1.6rem;
        //         font-family: 'DM Sans', sans-serif;
        //     }
        // }
    }
}

@media screen and ( max-width: 1060px ) {
    .font {
        &__large {
            font-size: 3rem;
        }

        &__mid {
            font-size: 2rem;
        }

        &__text {
            font-size: 1.8rem;
    
            p {
                font-size: 1.4rem;
                font-family: 'DM Sans', sans-serif;
            }
        }
    }
}


@media screen and ( max-width: 950px ) {
    .font {
        &__large {
            font-size: 4rem;
        }

        &__homeHeader {
            font-size: 4.2rem;
            line-height: 1;
        }

        &__mid,
        &__slider-sub {
            font-size: 2.6rem;
        }

        &__text {
            font-size: 1.8rem;
    
            p {
                font-size: 1.8rem;
                font-family: 'DM Sans', sans-serif;
            }
        }
    }
    
}