.project {
    &__intro {
        width: 70.052vw;
        margin: 5.104vw auto 8.072vw auto;
        display: flex;
        justify-content: space-between;
        border-top: solid 1px black;
        padding-top: 0.885vw;
        
        h2 {
            line-height: 1;
            padding-bottom: 10px;
        }

        figure {
            width: 41.718vw;
            height: auto;
            max-width: 800px;

            img {
                width: 100%;
                height: auto;
            }
        }

        &--text {
            width: 24.010vw;
            position: relative;
        }

        &--sub-head {
            padding-bottom: 2.083vw;
        }

        &--bio {
            font-weight: bold;
            font-size: 1.8rem;
            font-family: 'DM Sans', sans-serif;

            &-line {
                margin-top: 2rem;
                margin-bottom: 5px;
                width: 15px;
                background-color: black;
                height: 2px;
            }
        }

        &--more {
            margin-top: 12rem;
        }


    }
}

@media screen and ( max-width: 950px ) {
    .project {
        &__intro {
            width: 100%;
            flex-direction: column;
            border-top: none;

            figure {
                width: 100%;
    
                img {
                    width: 100%;
                }
            }

            &--sub-head {
                padding-bottom: 4rem;
            }

            &--bio {
                padding-top: 4rem;
            }

            &--text {
                width: 100%;
                border-top: solid 1px black;
                margin-top: 2rem;
            }
        }
    }
}