.projectOther {
    width: 70.052vw;
    margin: 7.604vw auto 0 auto;


    &__keyline {

        border-top: 1px solid black;
        padding-top: 1.8rem;
    }
    
    &__container {
        display: flex;
        border-top: 1px solid black;
        padding-top: 1.8rem;
    }

    &__img {
        width: 41.718vw;
        height: 39.791vw;

        .gatsby-image-wrapper {
            width: 100%;
            height: 39.791vw;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__right {
        display: flex;
        justify-content: center;
        margin-left: 4.218vw;
        
    }

    &__rightContent {
        width: 20.468vw;
    }

    &__moreContainer {
        display: flex;
        align-items: center;

        img {
            margin: 1.7rem 0;
            padding-left: 10px;
        }
    }

    &__more {
        margin: 1.7rem 0;
    }
}

@media screen and ( max-width: 950px ) {
    .projectOther__container {
        display: flex;
        flex-direction: column;
        border-top: none;
        margin-top: 10rem;

        .projectOther__left,
        .projectOther__right {
            width: 100%;
            margin-left: 0;
        }

        .projectOther__right {
            border-top: 1px solid black;
            margin-top: 2.4rem;
        }

        .projectOther__more {
            margin-bottom: 2.4rem;
        }
    }

    .projectOther__img {
        height: 88.405vw;

        .gatsby-image-wrapper {
            height: 88.405vw;
        }
    }

    .projectOther__img,
    .projectOther__rightContent,
    .projectOther {
        width: 100%;
    }

    .projectOther {
        margin-bottom: 10rem;
    }
    .projectOther__moreContainer img {
        height: 1.7rem;
    }
}
