.project__gallery {
    display: flex;
    // flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid black;
    padding-top: 1rem;
    width: 70.052vw;
    margin: 0 auto;

    .swiper-slide {
        width: 100%;
    }

    &--Slider {
        // width: 41.718vw;
        margin: 0;
        width: 100%!important;

        .gallery__sliderContainer {
            position: relative;
            width: 100%;
        }


        .gallery__portrait {
            width: 38.718vw;
            height: auto;
            position: relative;
        }

        .gallery__landscape {
            width: 100%;
            height: auto;
            position: relative;
        }

        .gallery__item-container {
            width: 100%;
            height: auto;
        }


        .gallery__navigation-container {

            position: absolute;
            top: 0;
            left: 0;
            display: flex;

            .custom-prev-button {
                display: flex;
                cursor: pointer;
                color: white;
                z-index: 10;
                padding-right: 4rem;
                display: flex;
                align-items: center;
                outline: none;
                -webkit-tap-highlight-color: transparent;


                &:hover {
                    img {
                        margin-left: 0;
                    }
                }

                img {
                    height: 50%;
                    padding-right: 0.5rem;
                    margin-left: 0.5rem;
                    -moz-transition: all 1s;
                    -webkit-transition: all 1s;
                    -o-transition: all 1s;
                    transition: all 1s;
                    position: absolute;
                }

                p {
                    margin-left: 2.5rem;
                    font-style: italic;
                }

           

                &.disabled {
                    p {
                        opacity: 0.3;
                    }
                }
            }
    
            .custom-next-button {
                display: flex;
                cursor: pointer;
                color: white;
                z-index: 10;
                display: flex;
                align-items: center;
                outline: none;
                -webkit-tap-highlight-color: transparent;
                

                img {
                    height: 50%;
                    padding-left: 1rem;
                }

                p {
                    -moz-transition: all 1s;
                    -webkit-transition: all 1s;
                    -o-transition: all 1s;
                    transition: all 1s;
                    font-style: italic;
                }

                p:hover {
                   padding-right: 0.5rem;
                }

                &.disabled {
                    p {
                        opacity: 0.3;
                    }
                }
            }
        }


        .disabled {
            display: none;
        }

        .swiper-wrapper {
            margin-top: 60px;
        }

        .my-swiper-pagination {
            position: absolute;
            bottom: 10px;
            left: 0;
            display: flex;
            justify-content: center;
        }
        .swiper-slide {
            display: flex;
            opacity: 0!important;
            height: 0;
            pointer-events: none;
        }

        .swiper-slide-active {
            display: block;
            display: flex;
            height: auto;
            opacity: 1!important;
            pointer-events:all;
        }

        .swiper-pagination-bullet {
            background: #000000!important;
            height: 1.5rem;
            width: 1.5rem;
            margin: 0 1.5rem!important;
            margin-bottom: 1.5rem!important;
        }
        
        .swiper-pagination-bullet-active {
            background: #FFFFFF!important;
            height: 1.5rem;
            width: 1.5rem;
            margin: 0 1.5rem!important;
            margin-bottom: 1.5rem!important;
        }
    }
}

@media ( max-width: 950px ) {
    .project__gallery {
        width: 100%;
    }

    .project__gallery--Slider {
        .gallery__portrait,
        .gallery__landscape,
        .gallery__video {
            width: 100%;
        }


        .swiper-pagination-bullet {
            margin: 0 1rem!important;
            margin-bottom: 1rem!important;
        }
        
        .swiper-pagination-bullet-active {
            margin: 0 1rem!important;
            margin-bottom: 1rem!important;
        }
    }
}