.related {
    margin: 14.3rem 1.5rem 13.5rem 1.5rem;

    h1 {
        border-top: 1px solid black;
        margin-bottom: 4rem;
    }

    &__project {
        width: 31.093vw;
        margin-right: 1.5rem;
        -webkit-tap-highlight-color: transparent;

        p {
            max-width: 90%;
        }
    }

    &__img {
        width: 31.093vw;
        height: 37.083vw;
    }

    &__container {
       display: flex;
       flex-wrap: nowrap;
       overflow-x: auto; 
       -webkit-overflow-scrolling: touch;
       &::-webkit-scrollbar {
        display: none;
      }
      scrollbar-width: none;
    }

    &__title {
        width: 84.272vw;
        margin: 0 auto;
    }

    .swiper-button-next {
        color: white;
    }

    .swiper-button-prev {
        color: white;
    }
}

@media screen and ( max-width: 700px ) {
    .related {
        &__project {
            width: 80.193vw;
        }

        &__img {
            width: 80.193vw;;
            height: 95.652vw;
        }
    }
}