.project__map {
    width: 70.052vw;
    margin: 7.604vw auto 14.3rem auto;
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;


    &--text {
        width: 20.468vw;
        margin-top: 1rem;

        .font__text {
            margin-top: 4rem;
        }
    }
}

#map {
    width: 41.718vw;
    height: 31.979vw;
    margin-top: 2rem;
}

@media screen and ( max-width: 950px ) {
    .project__map {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        border-top: none;
        margin-top: 5rem;

        &--text {
            width: 100%;
            border-top: 1px solid black;
            margin-top: 2.4rem;

            .sub-heading {
                margin-bottom: 3.8rem;
            }
        }
    }

    #map {
        width: 100%;
        height: 71.014vw;
        margin-top: 5rem;
    }
}
