.contact {
    display: flex;
    margin-top: 6.302vw;

    &__line-split {
        width: 4rem;
        border: 1px solid black;
        transition: width 0.4s;
    }

    &__left,
    &__right {
        display: flex;
        flex-direction: column;
        margin-bottom: 18rem;
    }

    &__left {
        width: 31.093vw;
        margin-right: 25.572vw;
    }

    &__intro-text {
        margin-top: 12.968vw;
    }

    &__info {
        margin-bottom: 3.541vw;
        -webkit-tap-highlight-color: transparent;

  

            &:hover {
    
                .contact__line-split {
                    width: 100%;
                    transition: width 1s;
                }
            }



    }
}

@media screen and ( max-width: 950px ) {
    .contact {
        flex-direction: column;

        &__left {
            width: 100%;
            margin-right: 0;
            margin-bottom: 4rem;
        }
    }
}

@media screen and ( max-width: 510px ) {
    .contact__info {
        margin-bottom: 4.6rem;
    }
}
