.about {
    &__image-one {
        width: 31.093vw;
        height: 36.822vw;
        margin-right: 7.864vw;

        img {
            height: 100%;
            width: 100%;
        }
    }

    &__image-two {
        width: 31.093vw;
        height: 40.729vw;
        margin-left: 7.864vw;

        img {
            height: 100%;
            width: 100%;
        }
    }


}

@media screen and ( max-width: 950px ) {
    .about {
        &__image-one,
        &__image-two {
            width: 100%;
            height: auto;
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 11.111vw;
        }
    }
}