.about {
    &__top-section,
    &__bottom-section {
        display: flex;
        margin-left: 7.083vw;
    }

    &__top-section {
        margin-top: 5.104vw;
        margin-bottom: 6.718vw;
    }

    &__bottom-section {
        margin-bottom: 6.979vw;
    }

    &__text-box {
        width: 31.093vw;
    }

    &__text-one {
        margin-top: 9.979vw;
    }

    &__text-two {
        margin-top: 7.916vw;
    }
}

@media screen and ( max-width: 950px ) {
    .about {
        &__top-section {
            flex-direction: column-reverse;
            margin-left: 0;
        }

        &__bottom-section {
            flex-direction: column;
            margin-left: 0;
        }

        &__text-box {
            width: 100%;
            margin-bottom: 7.971vw;
        }
    }
}